body{
    display:flex;
    flex-direction: column;
    height:100%;
}

#PluginContainer{
    flex:1;
    overflow-y:scroll;
    overflow-x:hidden;
}

#PluginFooter{
    background-color: aliceblue;
    padding: 10px;
    font-size: 14px;
    border-top:solid 1px royalblue;
}

#PluginFooter p{
    color: #23d160;
    font-weight:bold;
}

#PluginFooter .fa-plug{
    font-size: 40px;
    color: #23d160;
    float: left;
    margin: 10px;
    margin-right: 20px;
}

#PluginFooter li {
    padding:0;
    margin-right:20px;
}

#MainLoader.control.is-loading{
    width: 66%;
    font-size:4rem;
    height:150px;
}

#FindingText{
    font-size:1rem;
    position: absolute;
    bottom: 0;
    text-align: center;
    left: 22%;
    width: 100%;
}

#InstallPluginControls{
    border-top:solid 1px gray;
    margin-bottom:10px;
    padding:10px;
    position: relative;
}

#InstallPluginControls input{
    width:100%;
}

#InstallPluginControls i{
    font-size: 22px;
    padding: 10px;
}

#InstallPluginControls a{
    position: absolute;
    top:33px;
    right:10px;
}

h1{
    font-size: 20px !important;
    font-family: Arial !important;
    color: gray !important;
    font-weight: bold !important;
    margin-bottom: 0 !important;
    padding: 10px !important;
}

ul li {
    padding:5px 10px 5px 12px;
}

li .field {
    margin-top: 6px;
}

.pluginName{
    font-weight:bold;
    width: 190px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.pluginDescription{
    font-size:12px;
    width: 230px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.githubButton{
    margin-right: 10px;
    display: inline-block;
}

.authorContainer{

}

.authorContainer img{
    float:left;
    height:20px;
    width:20px;
    border-radius: 10px;
}

.authorContainer div{
    float:left;
    font-size:12px;
    width: 100px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    margin-left:5px;
}

.pluginStarsContainer{
    float: left;
    margin-right:10px;
}

.pluginStarsContainer .starCount{
    float: left;
}

.pluginStarsContainer .fa-star{
    float: left;
    margin-top: 3px;
    margin-right: 3px;
}

.isPromoted .fa-star{
    color:gold;
}

.pluginList + .pluginList{
    border-top: solid 1px black;
}

.pluginList.open ul{
    display:block;
}

.pluginList.closed ul{
    display:none;
}

.pluginList li{
    position: relative;
    cursor:pointer;
    border-top: solid 1px #ccc;
}

.pluginList li:hover{
    background-color:aliceblue;
}

.pluginList li .preview{
    display:none;
    background-color:white;
    position:absolute;
    top:30px;
    left:20px;
    right:20px;
    border:solid 1px #ccc;
    z-index:2;
    padding: 20px;
    transform: scale(.8);
    transform-origin: top;
    outline:none;
    cursor:default;
    max-height:300px;
    overflow-y: scroll;
}

.pluginList li .control.is-loading{
    width: 66%;
    font-size:2rem;
    height:100px;
}

.pluginList li.active .preview{
    display:block;
}

.pluginList li .columns{
    margin-bottom:0px;
}

.pluginList li .column{
    padding-bottom: 0px;
}

.pluginList li .pluginControls{
    padding: 11px 2px 0 0;
}

.pluginList li .pluginControls .githubButton,
.pluginList li .pluginControls .field{
    float:right;
}

.pluginList li .pluginIcon{
    padding-right:0px;
    max-width: 40px;
    margin-top: 16px;
}

.pluginList li .pluginContent{
    padding-left:10px 0 0 0;
}

.groupHeader{
    cursor:pointer;
    margin-left:5px;
    position:relative;
}

.groupHeader i{
    margin-right:5px;
}

.groupHeader .groupDescription {
    font-size: 11px;
    margin-left: 10px;
    color: gray;
}

.groupHeader .count{
    background-color: aliceblue;
    border-radius: 10px;
    font-size: 12px;
    width: 20px;
    height: 20px;
    position: absolute;
    right: 10px;
    text-align: center;
    top: 2px;
}

.preview h1{
    padding: 0 !important;
}

.preview img{
    border: solid 1px gray;
}

.pluginBadge {
    position: absolute;
    top: -30px;
    left: -30px;
    width: 60px;
    height: 60px;
    transform: rotate(45deg);
    background: #23d160;
}

.pluginBadge .fa-plug{
    transform: rotate(-45deg);
    color: white;
    position: absolute;
    top: 21px;
    font-size: 18px;
    right: 5px;
}

.pluginBadge + h1 {
    margin-left:25px;
}